.watermark {
    border: 3px;
    border: black solid;
}

html {
        background: url(/static/img/bg00.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        scroll-behavior: smooth;
        /*opacity: 0.2;*/
    }

    body {
        margin: 0;
        color: #000000;
        /* Растягиваем body по высоте html */
        min-height: 50%;
        min-width: 50%;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    .header {
        text-align: left;
        font-weight: bolder;
        margin-top: 5px;
        margin-left: 10px;
        padding-top: 5px;
        color: rgb(75, 75, 75);
    }
    .footer {
        text-align: right;
        font-weight: bold;
        color: #00259d;
        margin-bottom: 5px;
        position: fixed;  /*absolute;*/ /* footer всегда в нижней части экрана */
        bottom: 0;
        width: 100%;
    }

    .zoom-effect {
        transition: 0.5s;
    }

    .zoom-effect:hover {
        transform: scale(2);
    }

    .btn-up {
        /*content: "\21E7 Наверх";*/
        font-family: "Times New Roman", Arial, sans-serif; /* Гарнитура шрифта */
        font-size: 16px; /* Размер текста подсказки */
        padding: 5px; /* Поля */
        text-align: center;
        align-content: center;
        position: fixed;
        background-color: #002f50;
        right: 10px;
        bottom: 30px;
        border-radius: 25px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
        color: #fff;
        width: 40px;
        height: 40px;
        opacity: 1;
        transform: translateY(0);
        z-index: 9999;
        letter-spacing: 2px;
    }

    .btn-up {
        align-items: center;
    }

    /*!*Кнопка наверх и надпись после стрелки*!*/
    /*.btn-up:after{*/
    /*    content: "Наверх";*/
    /*    font-family: "Times New Roman", Arial, sans-serif; !* Гарнитура шрифта *!*/
    /*    font-size: 16px; !* Размер текста подсказки *!*/
    /*    padding: 5px; !* Поля *!*/
    /*    text-align: center;*/
    /*}*/

    .btn-up_hide {
      display: none;
    }

    .btn-up_hiding {
      opacity: 0;
      transform: translateY(100px);
    }

    .btn-up-icon {
        width: 20px;
        height: 20px;
        fill: currentcolor;
    }

    table {
        alignment: center;
        margin: auto;  /* center of the table */
        border-collapse: separate; /* separate between cells */
        border-spacing: 15px; /* separate between cells (range) */
        width: 95%; /* width of the column */
    }

    .TD_top {
        text-align: left;
        align: left;
        border: 20px;
        color: rgb(75, 75, 75);
    }
    TD {
        text-align: center;
        align: center;
        border: 20px;
        color: rgb(0, 86, 185);
    }

    #col00 {
        width: 95%; /* Ширина нульнулевой колонки */
        vertical-align: center;
        text-align: left;
        padding: 20px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 4px 8px rgba(0, 0.3, 0.3, 0.5);
        font-size: 26px;
        font-weight: bold;
        background: rgb(0,228,222);
        background: linear-gradient(90deg, rgba(0,228,222,1) 0%, rgba(0,137,156,0.950) 61%, rgba(0,121,117,0.824) 100%);
    }

    #col0 {
        width: 95%; /* Ширина нулевой колонки */
        color: rgb(255, 255, 0);
        text-shadow: 1px 0 rgb(128,128,128),2px 2px 1px rgba(0,0,0,1);
        vertical-align: center; /* Цвет фона нулевой колонки */
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 4px 8px rgba(0, 0.3, 0.3, 0.5);
        font-size: 25px;
        font-weight: bold;
        background: rgb(0,228,222);
        background: linear-gradient(90deg, rgba(0,228,222,1) 0%, rgba(0,137,156,0.950) 61%, rgba(0,121,117,0.824) 100%);
    }
    #col1 {
        width: 20%; /* Ширина первой колонки */
        background: #e8ae08; /* Цвет фона первой колонки */
        padding: 10px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 4px 8px rgba(0, 0.3, 0.3, 0.5);
    }
    #col_App {
        align: left;
        text-align: left;
        /*{#width: 20%; !* Ширина первой колонки *!#}*/
        /*{#background: rgba(67, 255, 0, 0.5); !* Цвет фона первой колонки *!#}*/
        /*{#padding: 10px;#}*/
        /*{#border-radius: 10px 10px 10px 10px;#}*/
        /*{#box-shadow: 0 4px 8px rgba(0, 0.3, 0.3, 0.5);#}*/
    }
    .TextInColumn {
        font-weight: bold;
        font-size: 20px;
    }

    #col2 {
        width: 60%; /* Ширина второй колонки */
        background: #f0f0f0; /* Цвет фона второй колонки */
        padding: 10px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 4px 8px rgba(0, 0.3, 0.3, 0.5);
    }
    #col3 {
        width: 20%; /* Ширина третьей колонки */
        background: #e8ae08; /* Цвет фона третьей колонки */
        padding: 10px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 4px 8px rgba(0, 0.3, 0.3, 0.5);
    }

    #col4_1 {
        width: 20%; /* Ширина четвертой колонки */
        background: #e8ae08; /* Цвет фона четвертой колонки */
        padding: 10px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 4px 8px rgba(0, 0.3, 0.3, 0.5);
    }